[2015-09-21 16:04] JoeMurray opened #2 "Display only appropriate reportlets based on campaign type"
For campaigns that don't involve revenue, don't show those related to revenue or KPIs related to ROI.

For campaigns with other KPI, like open rates for a email blast, or number of responses for an SMS blast, display appropriate reportlets for those campaign types.

More generally, provide infrastructure that will allow this to be configured for each type of campaign.

[2015-09-24 09:35] bjendres commented on #2
This is going to be difficult, because we don't know which campaign types are supposed to yield revenue. What we could do, however, is to hide those when they currently don't _have_ any.

There is. As described in the https://github.com/systopia/de.systopia.campaign/blob/master/USERDOC.md#implementing-custom-kpis you can implement a hook to manipulate (or remove) the KPIs to your liking.

[2015-11-19 11:27] bkaless opened #3 "extension enabled, but civicrm/a/#/campaign/<id>/view empty"
I enabled the extension, created a campaign. The page, the view link refers to is empty.

[2015-11-19 11:48] bjendres commented on #3
@bkaless Could you post the whole link? It might have to do with AnglularJS - you're on 4.6+ right?

[2015-11-19 11:54] bkaless commented on #3
Yes, we are on 4.6.

It is in our test-system: <url>civicrm/a/#/campaign/2/view

[2015-11-19 14:46] bjendres commented on #3
Are you sure that the Campaign module is enabled, and your user has the appropriate campaign-permissions? Can you see the "Campaign" menu?

[2015-11-19 14:50] bkaless commented on #3
yes. Campaign is activated, I see the "Campaign" menu. My user has id 1, the permissions for civicampaign are okay.

[2015-11-19 14:51] bjendres commented on #3
Could you reload with a dev console (like Firebug) open, and see if there is an error message?

[2015-11-19 15:39] bkaless commented on #3
yes, indeed. Tere is a error: .

Error: [$injector:modulerr] Failed to instantiate module crmApp due to:
[$injector:modulerr] Failed to instantiate module campaign due to:
[$injector:nomod] Module 'campaign' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.

I suppose, there is an i

[2015-11-19 15:43] bjendres commented on #3
@nikobo  Could you have a look?

[2015-11-19 15:46] ghost commented on #3
I will look into it on monday because I'm not at work tomorrow.

[2015-11-23 09:42] ghost commented on #3
@bkaless Could you tell me which specific version of CiviCRM you are using? Is it > 4.6.8?

[2015-11-23 09:51] bkaless commented on #3
it is 4.6.10.

do you have an account for our test-system?

[2016-01-14 10:56] michau commented on #2
@systopia @JoeMurray Regarding hiding selected KPIs that currently don't have any contributions (ergo, don't yeld revenue), would below logic be ok?

**If "Number of Contributions (completed)" equals 0 and "Total Revenue Goal" equals 0 or null, hide whole KPIs section and render a message asking to define "Total Revenue Goal" or register some contributions against this campaign.**

Whaddya think?

[2016-01-14 18:15] bjendres commented on #2
I'm not sure that _everyone_ would agree with that, so my suggestion would be:
- implement the hook in an extra extension (you might have to do that anyway)
- have it remove all KPIs in the above case
- add logic to the KPI panel in _this_ extension to hide if no KPIs provided.

This way we don't break it for people who do want to see empty KPIs

What do you think?

[2016-01-15 10:18] michau commented on #2
Fair enough. Our few cases consistently involve hiding financial data for non-financial campaigns, so from my little ship this landscape seems like whole world. ;-)

Thanks for hints - we are indeed working on extension to extension (https://bitbucket.org/caltha/pl.infozmiana.campaigngoodies) which will involve some additional logic and KPIs. Once we have it ready and tested (few weeks), we can po

[2016-01-15 11:03] bjendres commented on #2
Sounds good! Looking forward to your input and feedback!

[2016-01-15 16:18] scardinius opened #8 ""Average Cost per Second or Later Contribution" has a different meaning than calculated value"
Hi,

I'd like to ask what was a aim of this KPI, because description has a different meaning than calculated value :-)

[code]

[KPI.php:L225](https://github.com/systopia/de.systopia.campaign/blob/master/CRM/Campaign/KPI.php#L225)

[2016-01-15 16:41] bjendres commented on #8
Well, the description is what we want: the average cost of a "not first (ever, per contact)" contribution.

@nikobo: do you want to make a case for your implementation or do you agree that there might be a bug?

[2016-01-18 10:11] ghost commented on #8
I think this is a bug, because the line obviously calculates the number of contributions that are not classified as a "first" contribution and not their average _amount_.

[2016-01-18 11:44] ghost commented on #3
I just checked your test environment. The problem is the following:

de.systopia.campaign uses html templates that are stored in the [/partials](https://github.com/systopia/de.systopia.campaign/tree/master/partials) directory and are dynamically retrieved from the client. The server returned a 404 error for this directory. This can happen if either the **Extension Resource URL** (/civicrm/admin/se

[2016-01-18 11:52] bkaless commented on #3
Oh, it could be so easy. Thanks for your support. The extension works in our environment.

[2016-01-19 14:51] ghost commented on #3
Sounds good. I will close this issue now. If you need further assistance feel free to open another issue or send me an email.

[2016-01-19 14:51] #3 closed

[2016-01-19 18:18] bjendres commented on #8
@Niko: Is this an easy fix? Or @scardinius: did you have a PR ready?

[2016-01-21 13:45] ghost commented on #8
@systopia Fixing this should be trivial

[2016-01-21 14:03] scardinius commented on #8
PR #9 is ready.

[2016-01-21 14:04] ghost commented on #8
And merged, thanks!

[2016-01-21 14:04] #8 closed

[2016-01-22 06:47] bjendres commented on #8
Great!

[2016-01-27 09:15] nikobo opened #12 "Handle financial account for campaign expense line items"
All Line Items need an financial account. Hence a default account needs to be set - @Fabian-SYSTOPIA suggested that "Default for Cost of Sales (COGS)" should be used in this case.

[2016-02-26 10:21] peth-systopia opened #14 "Broken pie chart"
JS data visualisation in campaign overview needs fixing:

![bildschirmfoto vom 2016-02-26 11 18 37](https://cloud.githubusercontent.com/assets/8555920/13349510/bd65b246-dc7a-11e5-9d7b-1aa04d3a93e3.png)

[2016-03-07 12:23] bjendres commented on #14
I fixed this now for 1.0.beta1

[2016-03-07 12:23] #14 closed

[2016-04-05 10:55] bkaless opened #15 "Show members won through the campaign"
The extension should list the members which has filled the appropriate campaign-field.

[2016-04-05 13:13] bjendres commented on #15
Unfortunately, the contact entity doesn't have a campaign field. What you would have to do is connect them e.g. via a (custom) "New Contact Aquired" activity (those do have a campaign field), and then evaluate that by implementing the KPI hook. There's probably other sensible approaches to this, too, but I don't see any standardised structure that can be included into the extension as a standard K

[2016-04-05 14:05] bkaless commented on #15
But the membership has a campaign field, hasn't it?

[2016-04-05 14:08] bkaless opened #16 "KPI's should be links."
e.g.: Number of First Contributions: X - may link to a list of all the X contributors.; Number of Contributions should link to all Contributors.

[2016-04-05 14:11] bkaless opened #17 "Apply costs to subcampaigns"
It would be nice if an expense may be appliable to the subcampaigns. The tool should evaluate the quantity of the different connected groups of the subcampaigns and divide the expense to the subcampaigns proportionate.

[2016-04-05 14:22] bjendres commented on #15
Yes, that's true - sorry. We could add a standard KPI for that...

[2016-04-05 14:25] bjendres commented on #17
It would :)

[2016-04-05 14:26] bjendres commented on #16
I'm not sure if this is easy to do...but it's a good idea.

[2016-04-06 14:35] bkaless opened #18 "Visualization of Chart "Revenue Breakdown""
This one is our KPI-Chart:
![revenue_breakdown](https://cloud.githubusercontent.com/assets/7643442/14320555/d3a88352-fc15-11e5-955e-3f31f89ca0a9.jpg)

It would be more readable if the circle contains only numbers from 1 to X. At the bottom of the chart should be a explanation of all campaign-names.

[2016-04-06 14:41] bkaless opened #19 "Improved Campaign Dashboad"
The overview at  civicrm/campaign?reset=1 becomes unconstructed soon.

It would be more readable if we have something like a tree view. The subcampaigns only should appear after clicking on the root-campaign.

[2016-04-06 14:42] bjendres commented on #18
Good idea

[2016-04-19 08:47] bkaless opened #20 "Chart: Ignore non-booking days"
Saturdays and Sundays should be ignored in the Donation Heartbeat because it falsified the statistics. Saturdays and Sundays aren't not successful days.

[2016-04-22 11:58] bjendres commented on #20
Hm. What about donations coming in on the weekend? For example online donations?

[2016-04-22 12:30] bkaless commented on #20
You are right on the one hand. On the other hand it will be credited on a workday...

[2016-04-22 12:40] bjendres commented on #20
With SEPA yes, but PayPal, credit cards, etc don't know any weekends. And when it comes to street recruiters, they mostly work on Saturdays :)

[2016-04-22 14:54] Cullpepper commented on #18
Name with % of total would be cool. love this extension by the way, well done!

[2016-04-22 14:55] Cullpepper opened #22 "Suggestion: Add a link/button to punch through to a campaign contribution report"

[2016-04-22 15:07] Cullpepper opened #23 "Suggestion: Add a second pie chart with revenue breakdown by Financial Type"

[2016-04-22 19:21] Cullpepper opened #24 "Suggestion: Trigger an error for data sets that are too large to render"
I'm playing around with a 3-tier data set of campaigns with about 30,000 donors, 45,000 contributions. The KPI charts bog down and refuse to render.

[2016-04-22 19:45] Cullpepper commented on #18
Or display pie-wedge name/value on hover.

[2016-04-25 05:37] bjendres commented on #24
Thanks, @Cullpepper, we hadn't tried with large data sets yet.

[2016-04-25 14:02] Cullpepper commented on #24
Sure. Let me know if you want me to do any benchmarking - I can test up to ~150,000 contacts with ~175,000 contributions.

[2016-07-14 10:10] bkaless opened #25 "New Goals for a campaign"
Not all campaigns are focused on donations (eg. petitions)
Therefore we need more goals like "newsletter subsriptions, new contacs in the database, #signatures, #new members.

[2016-07-14 10:11] bkaless opened #26 "Overview of donations sorted by financial accounts"
The Donations should be sorted by the existing financial accounts

[2016-07-14 10:12] bkaless opened #27 "Configurationable Contribution-Types"
Any campaign should have a list of contribution types to monitor/shown in the campaign (like donations, member fees, etc)

[2016-07-14 10:12] bkaless opened #28 "New KPI: #new contacts in the database"

[2016-07-14 10:13] bkaless opened #29 "New KPI: #second-time donors"

[2016-07-14 10:15] bkaless opened #30 "Overview should be time based"
The overview should have a start-date and end-date to narrow the Chart and the Values in the overview.

[2016-08-01 09:37] bjendres commented on #25
Very good point. We should discuss the details, though, to come up with a generic approach.

[2016-08-01 09:39] bjendres commented on #27
@bkaless: I'm not quite sure I understand. Could you describe a scenario illustrating this requirement?

[2016-08-01 09:42] bjendres commented on #28
Unfortunately, contact cannot be directly linked to campaigns, and I think there's a good reason for this. In order for this KPI to work we would have to first define how we would collect this data. Our proposition would be to create an activity type "New contact generated" which would be connected to the (new) contact and the campaign. Then we we could use this data to calculate this KPI.

@bkale

[2016-08-01 09:46] bjendres commented on #29
@bkaless: Please clarify: Is this "second time donor"...
1. for this campaign (i.e. has donated twice in this campaign)? or:
2. has placed his/her second donation (in general) with this campaign? or:
3. a second time donor in general, and has (also) donated for this campaign?

[2016-08-01 09:48] bjendres commented on #30
Currently the start and end date are determined by the first and last contribution linked to the campaign.

@bkaless: What interface would you propose to change this interval?

[2016-08-29 08:08] bkaless commented on #29
Thanks for that question. Option 2 is the one I have in mind.

[2016-08-29 08:09] bkaless commented on #28
I think that is a very good solution because a listing in the activities is very useful.

[2016-08-29 08:11] bkaless commented on #30
I wish two fields: from and to. If one field is empty, the first or the last contribution should be used.

[2016-08-31 10:51] bjendres commented on #30
@bkaless: Are we talking about a dynamic slider to "play with" or a general time span that applies to a specific campaign. The latter could probably be achieved by evaluating a campaign's start and end date, but the first might be more tricky....

[2016-08-31 12:23] Cullpepper commented on #30
I agree with bkaless - often, a report is needed that fits within a calendar or fiscal year. However, contributions may fall outside the reporting range and still belong to the campaign. (For example, It's not uncommon for sponsorships to be paid in advance, or for direct-mail appeals to return months after the campaign ended.)

Date selection boxes "from" and "to" would be most helpful for this t

[2016-08-31 12:58] bjendres commented on #30
@Cullpepper: again: where do you guys want that box: to dynamically adjust the KPIs or as a general per-campaign setting?

[2016-09-08 13:25] bkaless commented on #30
I personaly want it at the overview-page of a campaign in the campaign-manager. It is sufficient if it is a date field instead of a slider. Do you know, what I mean?

[2016-12-08 13:34] bkaless opened #31 "Update for 4.7 - Hierachy doesn't work"
I tested to install the extension in 4.7.
The following error occurs:
If I create a subcampaign in the screen "new campaign" the campaign isn't created. The overlay doesn't disappear.

[2016-12-08 13:58] bkaless commented on #31
Oh, i have to correct me. A second try works ;)

[2016-12-08 14:49] bjendres commented on #31
Great! Thanks for testing!

[2016-12-08 14:49] #31 closed

[2017-02-20 09:02] systopia opened #32 "Campaign Tree view: titles overlap"
Starting on the third level, the campaign names overlap. This is a rendering/layout issue.

[2017-02-20 11:28] mattwire commented on #32
I don't see this.  Can you give an example when this happens?

[2017-03-08 17:02] bjendres commented on #32
just create a campaign with more than 4 children and long names :)

[2017-03-22 11:08] scardinius opened #33 "Basic activities reporting to campaign screen"
I'm working on feature which will add some basic activities reporting to campaign screen. We'd like to have a table with totals of all activities for current campaign and its children.

## Requirements

* displaying selected activity types
    * fixed activity type - always show, even if data doesn't exist
    * invisible empties - if count=0, don't show this activity type
    * order by sequence

[2017-03-27 15:32] scardinius opened #34 "TreeView breaks structure of campaign"
Scenario:

* Open campaign with structure like this: root > only one subcampaign 1 level > [ first 2 level subcampagin, second 2 level subcampaign]
* Click on button `View Campaign Tree`
* Click on campaign *first 2 level subcampaign* or *second 2 level subcampaign*
* Click on button `View Root`
    * Structure is changed :(

[2017-03-27 16:01] bjendres commented on #34
Thanks, @scardinius.

@mattwire Could you have a brief look at this? Does that affect our project as well?

[2017-03-30 15:38] mattwire commented on #34
@scardinius: I think this commit fixes your problem? https://github.com/systopia/de.systopia.campaign/commit/d6a179332f956ccc84cbb18c9876c79c59aff36d

If it is working with that fix, I will merge that into master

[2017-03-31 12:52] scardinius commented on #34
@mattwire @systopia thanks! That works fine!

[2017-03-31 16:33] mattwire commented on #34
Merged commit to master

[2017-03-31 16:33] #34 closed

[2017-04-03 07:26] bjendres commented on #34
Great job @mattwire!

One tiny performance remark: we could just check for ``dist <= 900`` to avoid the costly ``Math.sqrt`` function. But it won't have a significant impact in this scenario anyway...

[2017-05-11 08:38] bjendres commented on #19
Has been implemented for version 1.1

[2017-05-11 08:38] #19 closed

[2017-05-11 08:41] systopia opened #35 "Current parent campaign is reset to the root campaign"
Bug when switching hierarchy/view level current parent campaign is reset to the root campaign.

To reproduce
*    Navigate to the campaign dashboard and open root campaign "Online Marketing" with click on View
*    Click on View Campaign Tree
*    Click on "Marktcheck Newsletter"
*    Click on "View Root"

Result
"Marktcheck Newsletter" was after this attached at the root campaign not at the Campa

[2017-05-11 08:42] bjendres commented on #35
Fixed with https://github.com/systopia/de.systopia.campaign/commit/1ca2bd36eac1e16a6511c25cc4cf292336ef4bf5 by @mattwire

[2017-05-11 08:42] #35 closed

[2017-05-11 08:42] bjendres commented on #19
Implemented by @mattwire

[2017-05-11 09:15] bkaless opened #36 "alpha 1.1: detail page empty"
I updated to the 1.1alpha1 version because I impatient to see the new overview. Very fine.

But now the detail of a campaign is empty again: for example: civicrm/a/#/campaign/2/view has no content.
I checked that firebug alerts no error, the partial-directory should be readable.

Best regards
Bene

[2017-05-11 09:17] bjendres commented on #36
Sounds like an Angular issue. Is it the same URL as before? What CiviCRM version are you on?

[2017-05-11 09:20] bkaless commented on #36
We are on 4.6.28. It is the same url as before. I deactivated the extension, deinstalled the extension, replaced the files in the extension directory with the new ones from git and activated the extension.

[2017-05-11 09:21] bjendres commented on #36
Hm, did you clear the cache and run ``/civicrm/menu/rebuild``?

@mattwire any ideas?

[2017-05-11 09:27] bkaless commented on #36
yes, I cleared the cache and now I triggerd /civicrm/menu/rebuild

Sorry, no effect :(

[2017-05-11 09:29] bkaless opened #37 "1.1alpha1: Sorting"
Ad the moment the list in the overview is not sorted. It would be fine if  the list is sorted by date (newest beginning date first) by default.

[2017-05-11 09:47] bjendres commented on #37
@mattwire What was the plan here? Is this list currently sorted by anything?

[2017-05-11 13:18] bjendres commented on #36
Does the new angular CiviMail interface work for you? Do you have all permissions?

[2017-05-12 22:02] mattwire commented on #37
Currently it is sorted by name ascending by default.  But you can sort by any column by clicking on it.

[2017-05-31 07:17] systopia opened #38 "DB error when calculating default KPIs"
In some cases, e.g. when the contribution status ``Failed`` doesn't exist, the KPI calculation fails.

[2017-05-31 07:17] #38 closed

[2017-05-31 07:18] bjendres commented on #36
@bkaless Is this possibly related to #38? Could you pull the lates master and test again?

[2017-07-03 20:06] BettyDolfing commented on #36
I installed the latest 'master' last week, but got the same error: an empty detail page. Cleared cache, rebuild menu. But did not help.
I then installed 1.0.beta1 and the detailed page was working.
Is there anything else I can try or any tips on how to get this working in the latest version?

[2017-07-05 09:52] bjendres commented on #36
@BettyDolfing  Do other angular pages work for you? Which CiviCRM version are you on?

[2017-08-21 13:43] scardinius commented on #36
Hi @systopia

I've met the same problem. My CiviCRM is 4.7.23

JavaScript error in console:
"Uncaught TypeError: Cannot set property 'contextMenu' of undefined"

    js/lib/d3-context-menu.js:
    root.d3.contextMenu = factory(root.d3);

I found the solution - I updated this file to current version from https://github.com/patorjk/d3-context-menu/blob/master/js/d3-context-menu.js and it works on my

[2017-08-21 13:51] bjendres commented on #36
Thanks @scardinius.

@BettyDolfing: Can you confirm that this works?

[2017-08-21 20:02] BettyDolfing commented on #36
No, not yet. Tried what @scardinius suggested, but is not working for me. However, could be something is wrong in my environment(s). Will ask our developer to have a look at it. Will come back to you if I have news.

[2017-08-22 09:55] jaapjansma commented on #36
@systopia I have tried the solution of @scardinius and it does not work for me. But it also looks like the file d3-context-menu.js is never loaded.

[2017-08-22 09:56] jaapjansma commented on #36
@systopia I also get an error in the console: crmEditable undefined.

[2017-08-22 11:27] jaapjansma commented on #36
@systopia I found what causes the crmEditable error. Uncommented line 274 in https://github.com/systopia/de.systopia.campaign/blob/master/templates/CRM/CampaignTree/Form/Search.tpl#L274 fixes that error.

Now I have a new error on view a campaign: 'typeError: root.d3 is undefined'

[2017-08-22 11:41] jaapjansma commented on #36
I have found the issue I had to add a custom group with the nam e'campaign_information' and now it works.

In short, I have done two things:
1. remove line 274 in CampaignTree/Form/Search.tpl
2. Add a custom group with the name 'campaign_information'

[2017-08-22 12:26] jaapjansma commented on #36
One last remark when I disable debug settings in CiviCRM viewing a campaign does not work anymore.

[2017-08-23 05:30] systopia opened #39 "Viewing campaigns w/o debug mode"
@jaapjansma writes:

[2017-08-23 05:30] bjendres commented on #39
See #36

[2017-08-23 05:32] systopia opened #40 "crmEditable Error"
@jaapjansma writes in #36:

[2017-08-23 05:34] systopia opened #41 "campaign_information custom group"
@jaapjansma writes in #36:

[2017-08-23 06:07] bjendres commented on #41
@mattwire is it possible that you introduced a dependency on this ``campaign_information`` group which is not managed by the extension itself?

[2017-08-23 06:07] bjendres commented on #40
@jaapjansma says:

[2017-08-23 06:08] bjendres commented on #36
Thanks @jaapjansma. With those modifications, does it work now? @BettyDolfing ?

[2017-08-23 09:05] bkaless commented on #36
I installed the alpha1.1 from github, created the group "campaign_information", removed line 274 (as result I have a empty else clause, right?) and enabled the debugging.

When I now click on campaign -> overview the angular turns endlessly.

[2017-08-23 20:27] BettyDolfing commented on #36
Thanks @jaapjansma and @scardinius! It's working for me in CiviCRM 4.7.18,  version 1.1.alpha2.

Did 3 things:
1. remove line 274 in CampaignTree/Form/Search.tpl
2. Add a custom group with the name 'campaign_information'
3. Updated file to current version from https://github.com/patorjk/d3-context-menu/blob/master/js/d3-context-menu.js

[2017-08-24 06:20] bjendres commented on #36
Brilliant, thank you guys! Would you mind creating a PR for 1 and 3, while I remove this dependency from the `campaign_information` group?

[2017-08-24 07:33] jaapjansma commented on #36
Sure I will do that.

[2017-09-21 13:35] Fabian-SYSTOPIA opened #42 "Various issues with version 1.1"
After installing version 1.1beta1 on an CiviCRM 4.7.24 environment (was able to reproduce it on another environment too) I encountered two issues that should be fixed in that version:
1. crm editable error as described in #40
2. generated delete link is missing base url

In addition, the extension seems to break other components that use angular such as the mailing interface (/civicrm/a/#/mailing/

[2017-10-07 17:04] bjendres commented on #40
Cannot reproduce on 4.6.22 with 1.1.beta1

[2017-10-07 17:06] bjendres commented on #39
Cannot reproduce on 4.6.22 with 1.1.beta1

[2017-10-07 17:06] bjendres commented on #36
Cannot reproduce on 4.6.22 with 1.1.beta1 any more

[2017-10-07 18:26] bjendres commented on #40
**Can reproduce** on 4.7.18 with 1.1.beta1

[2017-10-07 18:40] systopia opened #43 "Show custom groups in campaign view"

[2017-10-07 18:40] bjendres commented on #41
fixed by commenting out. Will be properly implemented in #43

[2017-10-07 18:40] #41 closed

[2017-10-07 18:51] bjendres commented on #39
Cannot reproduce on 4.7.18 with 1.1.beta1

[2017-10-07 18:51] bjendres commented on #36
Cannot reproduce on 4.7.18 with 1.1.beta1 any more

[2017-10-07 20:08] systopia opened #44 "Add settings for built-in KPIs"
Since some of the built-in KPIs are quite costly for calculation, there should be a set of settings to decide which ones you actually want to see.

[2017-10-07 22:07] systopia opened #45 "Cache KPIs"
KPIs sometimes take a long time to calculate, so we would want to cache it.

This probably has three parts:
* Extend the extension specs by TTL
* Implement the caching itself
* Create a cron job to trigger recalculation with filters (e.g. by status, type, end_date, *activity*

[2017-10-07 22:08] systopia opened #46 "Load KPIs asynchronously"
Don't block the page load.

[2017-10-07 22:44] scardinius commented on #40
Can reproduce on 4.7.20 and 4.7.24, the error is slightly different:

`Uncaught TypeError: $(...).crmEditable is not a function`

updating d3-context-menu to new version doesn't resolve the problem :(

comment line `$('.crm-editable').crmEditable();` **resolve the problem** :-)

[2017-10-07 23:09] scardinius commented on #36
The commit "removed dependency on custom group"
https://github.com/systopia/de.systopia.campaign/commit/959d1077ba93f894710cb5c34973ad062568285e resolved the problem on 4.7.24 with 1.1.beta1

[2017-10-07 23:14] scardinius commented on #39
Cannot reproduce on 4.7.24 with 1.1.beta1

[2017-10-07 23:57] #39 closed

[2017-10-07 23:57] #36 closed

[2017-10-08 09:21] systopia opened #47 "Clean up action links in campaign view"

[2017-10-08 09:35] bjendres commented on #40
Commenting out that line doesn't seem to have a negative impact.

[2017-10-08 09:35] #40 closed

[2017-10-08 13:43] kpomaranska opened #48 "When adding parent to the campaign, it external id is set to null and this is visible on the campaign dashboard"
when adding parent to the campaign (either while creating a new subcampaign or adding a parent to existing campaign), it external id is set to null and this is visible on the campaign dashboard

[2017-10-09 16:00] systopia opened #49 "CiviCRM Core searches should respect campaign hierarchy"
The CiviCRM Core is agnostic towards the campaign hierarchy, despite the fact that the ``parent_id`` field is part of core.

I talked to @totten and the desired approach would be:

* create a new setting in the Campaign component: ``use hierarchy``
* the setting has three states:
  * ``0``: hierarchy will not be used, everything stays the way it is now
  * ``1``: hierarchy will be used, see below

[2017-10-09 19:08] #47 closed

[2017-10-09 19:14] #44 closed

[2017-10-11 07:54] bjendres commented on #45
working in master now

[2017-10-11 07:54] #45 closed

[2017-10-11 07:55] bjendres commented on #33
great job!

[2017-10-11 07:55] #33 closed

[2017-10-11 08:43] kpomaranska opened #55 "To edit previously added expense you need to click through all of the expense fields"
When you create an expense in a campaign, you need to fill all of the fields for the "Submit" button to become active.
When you try to edit previously added expense you need to click through all of the fields to be able to save the changes (the "Submit" button is not active othervise)

[2017-10-11 09:45] #55 closed

[2017-10-11 09:46] bjendres commented on #55
@kpomaranska  I think I fixed it, could you please test and verify?

**You will have to clear all CiviCRM/browser caches** to see the effect.

[2017-10-11 09:58] kpomaranska commented on #55
@systopia It works :)

[2017-10-11 10:10] bjendres commented on #55
Great, another one down. Thanks

[2017-10-11 10:48] #46 closed

[2017-10-11 10:49] bjendres commented on #46
@kpomaranska: I think I fixed this, could you please verify?

[2017-10-11 11:16] kpomaranska commented on #46
@systopia it looks good :)
I was only able to test it on a campaign with 15000 activites, and it was really quick.
Probably would be good to add an indicator that something is in progress (right now tabs are closed during the calculations, and are opening when the calculations are complete) - if the campaign has larger amount of activities, it could take a bit more time, and the user has no indica

[2017-10-11 14:39] danaskallman opened #56 "View not loading in WordPress"
I am testing this on WordPress and the page just doesn't load. These are the errors I get when I try to View a campaign with this extension enabled. I see `root.d3` and angular errors.

![angular-d3-errors](https://user-images.githubusercontent.com/1139085/31447563-4cdec32c-ae70-11e7-9aaf-55ecfcd59a7f.png)

Thoughts on why?

[2017-10-11 15:59] bjendres commented on #56
Thanks @danaskallman. I have really not a lot of experience with either d3 nor WordPress. Anyone else...?

[2017-10-11 16:02] bjendres commented on #46
@kpomaranska Cool, thanks.

Of course we have also thought about the indicator, but i'm running out of time. Could you maybe create an extra ticket for that?

[2017-10-11 16:08] kpomaranska opened #57 "indicator that calculations are in progress while loading KPIs on the campaign overview"
Additional feature for #46
Indication that calculations are in progress (right now tabs are closed during the calculations, and are opening when the calculations are complete) - if the campaign has larger amount of activities, it could take a bit more time, and the user has no indication that he/she should wait a bit for the calculations to complete.

[2017-10-11 20:15] bjendres commented on #43
@kpomaranska Could you possibly please verify that this is working as required, too?

[2017-10-11 21:22] #48 closed

[2017-10-11 21:23] bjendres commented on #48
@kpomaranska: I think I fixed it, could you verify this, please?

[2017-10-12 09:33] kpomaranska commented on #48
@systopia tested, looks good :)

[2017-10-12 09:36] kpomaranska commented on #43
@systopia it's working :)

[2017-10-12 09:52] bjendres commented on #43
Great! Thanks, @kpomaranska

[2017-10-12 09:52] #43 closed

[2017-10-12 09:52] bjendres commented on #48
Brillian, thanks @kpomaranska

[2017-10-18 07:04] systopia opened #59 "Improve KPIs for big data sets"
If you have big data sets the standard KPIs can be quite expensive to calculate and render. While the calculation costs are somehow mitigated by caching (#45), the rendering has to be done every time. There should be some clever aggregation of data, to improve this.

[2017-10-19 02:30] Cullpepper commented on #59
Start with common reporting periods and cache that? Calendar year, fiscal
year, month, week, day.

On Wed, Oct 18, 2017 at 3:04 AM, SYSTOPIA <notifications@github.com> wrote:

[2017-11-02 15:20] scardinius opened #61 "Installation fails due to method from config class"
The problem occurs because method from this class is used too early

In error log: `Class 'CRM_Campaign_Config' not found`

[code]

[2017-11-02 15:49] scardinius opened #63 "View page not loading when there aren't any custom groups for campaigns"
View page not loading when there aren't any custom groups for campaigns.

Error from API getcustominfo:

`"error_message": "invalid criteria for IN"`

[2017-11-03 15:17] scardinius opened #65 "Javascript compatibility with 4.7.25"
I met some javascript bugs on 4.7.25 version

Cannot use 'in' operator to search for 'false' in null
`if(!"vis_type" in current_item) {`

Cannot read property 'value' of null
`if(Array.isArray(current_item.value)) {`

[2017-11-15 11:52] scardinius opened #66 "Missing permission for CampaignTree API"
Hi,

There is not a permission for CampaignTree.getlinks action. This is a problem because we can't set up proper permissions for non-admin users.

[2017-11-23 22:35] herbdool commented on #65
I'm testing out this extension. I applied this patch but still some JS errors which I'll report on a new issue.

[2017-11-23 22:45] herbdool opened #68 "Breaks Angular"
I'm testing 1.2 alpha2. The JS errors I'm getting:

`Uncaught TypeError: Cannot set property 'contextMenu' of undefined` in line 889 of `...civicrm/asset/builder&an=angular-modules.js&ap=...`. Does this have something to do with d3?

And `Uncaught Error: [$injector:modulerr]`

I've noticed them in 4.7.23 and 4.7.27 on sites hosted in different environments. It seems to be breaking various pages th

[2017-12-12 10:13] bkaless commented on #68
It breaks on 4.7.28 also.

But in a second environment it runs smoothly.

[2018-01-17 14:36] scardinius opened #69 "Get expenses without limitation to first 25 records"
View page displays excences for current campaign. It uses 'get' action of API which has default limit set to 25 records.

[2018-01-25 16:53] bkaless commented on #68
I can describe my experience more precisely: If I make a clone of my productive system I choose a http:// instead a https:// URL as BASEURL in civicrm.settings.php for it. In this case the angular pages works without any further changing in the settings.

The Web-Konsole in Firefox shows a 404 error for a angular page in the productive system (running with SSL).

[2018-01-26 08:00] bkaless opened #70 "1.2.alpha2 fails on install"
Installing the 1.1.alpha2 brings the following error in the apache2.log:

PHP Fatal error:  Class 'CRM_Campaign_Config' not found in /var/www/html/sites/default/files/civicrm/ext/de.systopia.campaign/campaign.php on line 45,

[2018-01-26 08:21] bkaless commented on #70
Oh, I see this Issues points to the same question:
https://github.com/systopia/de.systopia.campaign/issues/61

[2018-02-05 12:56] scardinius commented on #65
I understood why I had a problem. I use campaignKpis hook in separate extension in wrong way because of latest mods at campaign meneger. It's possible to switch off some metrics but I assumed that all metrics (kpis) are always included.

I fixed my extension and it works fine at 4.7.29 now

[2018-02-05 12:56] #65 closed

[2018-03-01 16:12] bastienho commented on #56
Hi,

same problem here.

The `root.d3` error can be solved by upgrading [**d3-context-menu**](https://github.com/patorjk/d3-context-menu/raw/master/js/d3-context-menu.js).

Angular errors are removed after a set of
[code]
in `wp-content/plugins/civicrm/civicrm`.

Nevertheless, the view page is still blank, and no error explains why.

[2018-03-14 13:43] bjendres commented on #56
Sorry guys, I really can't help you with this....

[2018-03-15 09:27] bastienho commented on #56
ok, but upgrading the lib could be at least, a good thing.

[2018-03-16 09:36] bastienho commented on #56
@danaskallman this forked project works in WordPress

[2018-03-16 09:37] bastienho commented on #56
@danaskallman this [forked project](https://github.com/scardinius/de.systopia.campaign) works in WordPress

[2018-03-16 13:10] danaskallman commented on #56
@bastienho oh cool, let me test it. Thanks!

[2018-03-29 14:34] scardinius opened #72 "Fix delete link"
Generated delete link is missing base url.

This issue is part of #42

[2018-04-23 08:32] jensschuppe opened #74 "Provide German localisation"

[2018-04-27 09:31] jensschuppe opened #77 ""Delete" action link for campaigns not working"

[2018-06-28 07:47] systopia opened #78 "Investiage impact of DATETIME to TIMESTAMP transition"
As I understand Core is moving from DATETIME to TIMESTAMP DB fields. We need to check whether this, and in particular PR-12368 (https://github.com/civicrm/civicrm-core/pull/12368), has an impact on this extension.

@totten Thanks for the heads up.

[2018-06-29 00:59] seamuslee001 commented on #78
@systopia This maybe good reference https://stackoverflow.com/questions/409286/should-i-use-the-datetime-or-timestamp-data-type-in-mysql and also timestamp columns are generally better for if you need to have data read between different timezones e.g. civicrm_mailing.scheduled_date

[2018-07-03 12:28] Rolf-ROBIN-WOOD opened #79 "refunded contribution counted"
If a contribution for a compaign is refunded, it still appears in the compaign-view. I think this is a wrong behaviour

[2018-08-20 12:07] Rolf-ROBIN-WOOD commented on #32
the same problem at the graph of "revenue breakdown" if it is a root campaign. It would help a little if the name of the root campaign appears **not** in the graph.

[2018-09-13 12:25] jensschuppe commented on #66
This effectively causes the "View" route not displaying the campaign at all for users without the "Manage CiviCRM" permission.

[2018-09-13 12:31] jensschuppe commented on #72
Fixed in 21e09f6008d269ed869de581e0f68babb26fd2cf and merged to master.

[2018-09-13 12:31] #72 closed

[2018-09-21 12:43] jensschuppe commented on #70
Closing as duplicate of #61.

[2018-09-21 12:43] #70 closed

[2018-09-21 12:50] jensschuppe commented on #77
Duplicate of #72, solved however.

[2018-09-21 12:50] #77 closed

[2018-09-21 12:55] jensschuppe commented on #68
Looks like this is a duplicate of or related to #60, which got merged already.

@bkaless Could you verify that the latest alpha fixes the problem?

[2018-09-21 12:56] #74 closed

[2018-09-21 12:56] #66 closed

[2018-09-21 12:57] #61 closed

[2018-09-21 12:57] #63 closed

[2018-09-21 13:08] jensschuppe commented on #56
@danaskallman is this still relevant when using the latest 1.2-alpha? Really looks like a duplicate of #36.

[2018-09-21 13:12] jensschuppe commented on #37
I can confirm default sorting being name ascending. As the table is sortable, looks like won't fix to me.

[2018-09-21 13:12] #37 closed

[2018-09-21 13:15] jensschuppe commented on #42
@Fabian-SYSTOPIA is 1. still relevant with the latest 1.2-alpha? 2. got fixed in #72. Additionally, the general "breakage" of Angular functionality should be fixed as well.

[2018-09-21 13:19] #68 closed

[2018-09-21 13:19] #56 closed

[2018-09-21 13:24] jensschuppe commented on #42
@Fabian-SYSTOPIA This got fixed already in #40.

[2018-10-22 13:57] jensschuppe opened #80 "Migrate documentation to MKDocs"
In order for the extension's documentation to be published on https://docs.civicrm.org, it needs to be converted to MKDocs format.

[2018-10-22 14:10] #80 closed

[2019-02-07 13:38] Rolf-ROBIN-WOOD opened #81 "return to dashboard ommits its previous adjustment"

[2019-05-23 08:14] BenediktMagnus opened #83 "KPIs not loading in campaign without any subcampaigns when "first contributions" is active"
When the KPI "first contributions" is active the KPIs in the campaign view do not load and stay empty for campaigns without any subcampaigns.
In campaigns (either root or a subcampaign themselves) with subcampaigns the KPIs load normally.

The result of the XHR loading the KPIs only includes this (even if Civi's debug mode is active):
`{"error_message":"Unknown error.","is_error":1}`

[2019-10-23 10:12] jensschuppe opened #86 "Improve displaying custom fields on the campaign dashboard"
Currently, custom fields are not being differentiated by custom group (assuming there's only one custom group) and display of e.g. contact reference fields can be done better.

Commit comming soon.

[2019-10-30 11:43] bkaless commented on #27
Perhaps it is sufficient to difference between "one-time" contributions and recurring contributions. We have a donation page where a donor can choose between a recurring and a single contribution. It is interesting to have a quick overview how many recurring and single contributions are won with a certain contribution.

Clearer?

[2019-10-31 12:59] bjendres commented on #86
released with ``1.2``

[2019-10-31 12:59] #86 closed

[2020-04-15 10:02] bkaless commented on #83
I found the same issues in campaigns with subcampaigns as well.

[2020-10-29 19:58] martiixiam opened #89 "Could be available on Transifex?"
Is it possible that this extension is available on transifex to translate it into spanish and catalan language?

[2020-10-30 06:41] bjendres commented on #89
Hi @martiixiam! Sure, you're very welcome to create a transifex project and upload [the existing files](https://github.com/systopia/de.systopia.campaign/tree/master/l10n). If you don't know how, simply ask [Mathieu/@bgm](https://lab.civicrm.org/bgm), he'll give you a hand.

[2020-10-30 09:34] martiixiam commented on #89
Thanks @bjendres ! just checking the documentation it seems to need approve the extension as an 'automatic distribution' isn't it?

[2020-11-20 08:33] bjendres commented on #89
I don't think so, transifex should work regardless of it. But feel free to trigger this process as well.

[2021-04-19 13:58] bjendres opened #91 "Add buttons to export KPI data"
There should be an (easy) way to export campaign KPIs - at least the ones where it makes sense.

[2021-06-23 11:26] MarcMichalsky opened #92 "[enhancement] Include sub-campaigns in extended search"
This extension brings the capability to organize campaigns in hierarchic structures. It would be useful if the sub-campaigns would be included in the search when I am searching e.g. for an activity with a parent campaign.

Example:
- The activity "activity-x" has the campaign "sub-campaign-x"
- I am searching for contacts with "activity-x" and campaign "parent-campaign-x"
- I would like to find al

[2021-06-23 11:33] bjendres commented on #92
Sounds like a good idea, but aren't you referring to core code with those examples?

Within the campaign manager extension, this should already be the case...

[2021-06-23 11:48] MarcMichalsky commented on #92
This functionality only makes sense if hierarchic organization is possible. I thought you could extend the core functionality here.

[2021-08-10 14:33] zfranque opened #95 "link to contact in a custom field of campaign is missing CID parameter"
my steps:

1. I go to the campaign dashboard, click on "view" of a campaign.
2. In the overview I click on a contact which is referenced in a custom field of the campaign.
3. The link leads to nowhere because the CID ist missing.

The link looks like this: _https://XXX/civicrm/contact/view?reset=1&cid=_

Thanks in advance!

CiviCRM 5.35.2
Drupal 7.82
de.systopia.campaign 1.2

[2021-11-23 10:12] #18 closed

[2021-11-23 10:21] #22 closed

[2021-11-23 10:25] #91 closed

[2022-01-07 10:15] scardinius opened #98 "Added expenses are not listed on campaign view page"
Added expenses are not listed on campaign view page and section Expenses

The problem occurs because expanses are based on `financial_items` for which `entity_table` is restricted list.

CRM_Financial_DAO_FinancialItem::fields() :

[code]

workaround is a patch to civicrm-core `CRM_Financial_BAO_FinancialItem`:

[code]

The question is what could be better solution?

[2022-10-11 13:19] abugey opened #100 "Position of download buttons shifted"
The position of the download buttons for KPI data is shifted.

[2022-10-18 09:16] abugey opened #101 "Graph not showing correctly in Firefox"
The KPI graph shows correctly in Chrome but not in firefox.
Reason: firefox needs units for width and height. Chrome ignores that.
See: https://stackoverflow.com/questions/34107427/d3-select-style-not-working-on-firefox

[2022-11-02 16:36] abugey opened #103 "PHP 8.0 Compatibility"
* [x] Analyse code regarding PHP 8 compatibility
* [x] Fix deprecations found (to be specified)

[2022-11-16 16:24] abugey commented on #103
linter: no errors
PHPStorm inspect code:
`CampaignExpense.php: Lines 25, 118, 164: undefined constant 'CRM_Financial_BAO_FinancialItem'`

[2022-11-24 11:19] jensschuppe commented on #103
Those were straight-forward, I merged the branch. As we're still in alpha, this will have enough implicit testing in the wild anyway. Thanks @abugey!